<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.min.css' />
  </head>
  <body>

<!-- Navigation Bar -->

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#"> <i class="icon-white icon-leaf"> </i> <%= brand %> </a>
        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
            <li><a href="#"><i class="icon-white icon-home"> </i> Home</a></li>
            <li><a href="/about"><i class="icon-white icon-user"> </i> About Me</a></li>
            <li><a href="/feedback"> <i class="icon-white icon-random"> </i>Feedback</a></li>
          </ul>
        </div>
      </div>
    </div>
<!-- Navigation Bar -->

<div class="container">

  <div class="row">
    <div class="span6 offset3">
      <form>
  <fieldset>
    <legend>Feedback</legend>
    <label>Your Name</label>
    <input type="text" placeholder="Type Your Name…">
    <label>Your Message</label>
    <textarea rows="3"> </textarea><br>
    
    <button type="submit" class="btn btn-success">Submit</button>
  </fieldset>
</form>
    </div>

    
  </div>

<hr> <hr>
<footer> <p>&copy; <%= author %> <%= copyright %> </p> </footer>
</div>

  </body>
</html>